<div class="container-fluid mt-5">
  <div class="row col-lg-4 col-11 shadow px-3 py-4 col-11 mx-auto ">
      <p class="fs-1 text-primary"> <u>Template Driven Form</u></p>
    <form action="" #formone="ngForm">  
      <input type="text" class="form-control mx-auto my-2" placeholder="First Name" [(ngModel)]= "firstName" name="firstname" 
      #fname="ngModel" minlength="3" required [class.is-valid]="fname.valid && fname.dirty" [class.is-invalid]="fname.invalid && fname.touched" 
      >
      <div *ngIf ="fname.invalid && fname.dirty">
          <span class="text-danger" *ngIf="fname.errors?.['minlength']"> The min lenght is 3 </span>
          <span class="text-danger" *ngIf="fname.errors?.['required']"> This field is required</span>
      </div>
      
      <input  class="form-control mx-auto my-2" type="text" placeholder="Last Name" [(ngModel)]= "lastName" name="lastname"
      #lname="ngModel" minlength="3" required [class.is-valid]="lname.valid && lname.dirty" [class.is-invalid]="lname.invalid && lname.dirty" 
      >
      <div *ngIf ="lname.invalid && lname.dirty">
          <span class="text-danger" *ngIf="lname.errors?.['minlength']"> The min lenght is 3 </span>
          <span class="text-danger" *ngIf="lname.errors?.['required']"> This field is required</span>
      </div>
      
      <input  class="form-control mx-auto my-2" type="email" placeholder="Email" [(ngModel)]= "email" name="email"
      #EM="ngModel"  minlength="5" required email [class.is-valid]="EM.valid && EM.dirty" [class.is-invalid]="EM.invalid && EM.dirty"
      
      >
      <div *ngIf ="EM.invalid && EM.dirty">
          <span class="text-danger" *ngIf="EM.errors?.['minlength']"> Please enter a valid email address </span>
          <span class="text-danger" *ngIf="EM.errors?.['required']"> This field is required</span>
          <!-- <span class="text-danger" *ngIf="EM.errors?.['pattern']"> Please enter a valid email address</span> -->
      </div>
      
      <input class="form-control mx-auto my-2" type="password" placeholder="password" [(ngModel)]= "password" name="password"
      #PS="ngModel" minlength="8" required 
      [class.is-valid]="PS.valid && PS.dirty" [class.is-invalid]="PS.invalid && PS.dirty "
      >
      <div *ngIf="PS.invalid && PS.dirty">
          <span class="text-danger" *ngIf="PS.errors?.['required']"> This field is required</span>
          <span class="text-danger" *ngIf="PS.errors?.['minlength']"> Minimum length is 8 characters</span>
          <!-- <span class="text-danger" *ngIf="PS.errors?.['pattern']"> Password must contain at least one(Uppercase, LowerCase, Number & Symbol ) </span> -->
      </div>

      <input type="checkbox" name="over18" class="" placeholder="over18" value=true [(ngModel)]="CB" required
      #CBC="ngModel" [class.is-valid]="CBC.valid && CBC.touched"  [class.is-invalid]="EM.invalid && EM.touched"
      > Over 18 ?
      <div class="text-danger" *ngIf="CBC.invalid "> 
          <span *ngIf="CBC.errors?.['required']">Thick The Box To Confirm You Are Over 18 Years </span>
      </div>

      <button (click)="signUp()" [disabled]="formone.invalid" class="btn btn-primary w-100" > REGISTER </button>
      
     </form>
  </div>
</div>
<!-- pattern="" -->
<!-- Max(type number)
Min(type number)
minlength
maxlenght 
pattern="/^[a-zA-Z0-9._-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}$/"
pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$/"
--><router-outlet />
